.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 2rem;

    h1 {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 0;
    }
    .recipeImage {
      width: 100%;
      border-radius: 50%;
      margin: 1rem;
    }
}
