.instuctions {
    display: flex;
    flex-direction: column;
    width: 80%;

    // .instructionsList {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     width: 85%;
    //     text-align: center;

    //     li {
    //         display: flex;
    //         flex-direction: column;
    //     }
    // }
}