.calendar {
  width: 100%;
  height: 100%;

  .weekNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    user-select: none;

    .monthName {
      display: flex;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    button {
      height: 2rem;
      background-color: transparent;
      border: none;

      svg {
        height: 2rem;
        width: 2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    height: fit-content;
    position: relative;

    .mealLabel {
      position: absolute;
      align-self: flex-end;
      left: -1.4rem;
      width: 1.4rem;
      height: calc(69vh + 0.5rem);
      // border: 1px solid black;
      display: flex;
      flex-direction: column;

      div {
        height: calc(100% / 3);
        display: flex;
        align-items: center;

        div {
          height: fit-content;
          transform: rotate(180deg);
          writing-mode: vertical-lr;
          text-align: center;
          user-select: none;
          font-size: 1rem;
          font-weight: bold;
          color: white;
          background-color: rgba(0, 0, 0, 0.25);
          padding: 0.5rem 0.25rem 0.5rem 0;
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }
    }

    li {
      display: flex;
      flex-direction: column;
      width: calc(100% / 7);
      height: 100%;
      position: relative;
      align-items: flex-start;
      z-index: 2;

      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dayDate {
        flex-direction: column;
        width: 95%;
        border-radius: 2rem 0 0;
        background-color: #29a64d;
        margin-bottom: 0.5rem;
        overflow: hidden;
        user-select: none;

        .dayName {
          width: 100%;
          font-size: 1.5rem;
          padding: 0.5rem 0 0.5rem;
          color: white;
        }

        .dayNumber {
          width: 100%;
          font-size: 3rem;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.95);
          border: 0.75rem solid #29a64d;
          border-top: none;
        }
      }

      .breakfast,
      .lunch,
      .dinner {
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
        height: 23vh;
        border: 0.15rem solid rgba(41, 166, 76, 0.15);
        padding: 0.25rem;
        text-wrap: balance;
        overflow-y: scroll;
        background-color: #d0f4da;
        margin-bottom: 0.25rem;
        border-radius: 1rem 0 1rem;

        .addButton {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: none;
          outline: 1px dashed black;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          margin-top: auto;

          &:hover {
            cursor: pointer;
            outline: 1px solid black;
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }

        .mealItem {
          position: relative;
          text-align: center;
          color: #000000;
          min-height: 100%;
          margin-bottom: 0.5rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 125%;
          color: white;
          border-radius: 1rem 0 1rem;
          overflow: hidden;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

          p {
            width: 100%;
            background-color: rgba(41, 166, 76, 0.4);
            user-select: none;
            padding: 0.25rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: 1.25rem;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5),
              0 -2px 15px rgba(0, 0, 0, 0.5);
          }

          .deleteFromMP {
            display: none;
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            height: 1.5rem;
            width: 1.5rem;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);

            svg {
              fill: red;
            }

            &:hover {
              cursor: pointer;
            }
          }

          .recipeInfo {
            display: none;
            position: absolute;
            top: 0.25rem;
            right: 2rem;
            height: 1.5rem;
            width: 1.5rem;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);

            svg {
              fill: blue;
            }

            &:hover {
              cursor: pointer;
            }
          }

          &:hover {
            button {
              display: block;
            }
          }
        }

        &:hover {
          border: 0.15rem solid #29a64d;
          box-shadow: 4px 4px 8px rgba(42, 167, 77, 0.5);
        }
      }

      .dinner {
        margin-bottom: 0;
      }

      .clearDay {
        position: absolute;
        align-self: flex-end;
        bottom: 0;
        width: fit-content;
        height: 1rem;
        font-size: 0.5rem;
        border: none;
        border-radius: 0 0 0.5rem 0.5rem;
        z-index: -1;
        color: white;
        background-color: red;
        font-weight: bold;
        padding: 0.15rem 0.25rem 0;
        margin-right: 1.25rem;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        .dayDate {
          box-shadow: 2px 4px 0.5rem #2aa74dcc;
        }
        .clearDay {
          bottom: -1rem;
          transition: 0.5s ease;
        }
      }
    }

    .newDiv {
      position: absolute;
      width: max-content;
      // border: 1px solid black;
      width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;

      .addCard {
        width: 75%;
        max-height: 90vh;
        // height: max-content;
        // height: 25%;
        padding: 1rem 0.5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2rem 0 2rem;
        overflow: scroll;
        overflow-x: hidden;
        position: relative;
        border: 0.15rem solid rgba(41, 166, 76, 0.15);
        box-shadow: 0.5rem 0.5rem 01rem rgba(41, 166, 76, 0.5);

        p {
          margin-bottom: 1rem;
          line-height: 1.5rem;
          user-select: none;

          span {
            font-size: 2rem;
            font-weight: bold;
          }
        }

        .searchbar {
          display: flex;
          flex-direction: row;
          width: 50%;
          border: 2px solid black;
          border-radius: 0.5rem 0 0.5rem;
          padding: 0.25rem 0.5rem;

          form {
            display: flex;
            width: 100%;
            // height: 2rem;
            justify-content: space-between;
            align-items: center;
            border-right: none;
            // margin-bottom: 0.5rem;
            transition: all 0.75s ease-in-out;

            input {
              // height: 2rem;
              line-height: 1rem;
              width: 100%;
              // padding: 0.25rem;
              border: none;
              outline: none;
              text-align: center;
            }

            button {
              width: 1.5rem;
              height: 1.5rem;
              background-color: transparent;
              border: none;

              &:hover {
                cursor: pointer;
              }

              svg {
                width: 100%;
                height: 100%;
                fill: #000000;
                background-color: transparent;
              }
            }
          }

          .addFromFav {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            border: none;
            margin: -2px 0 0 4px;

            &:hover {
              cursor: pointer;
            }

            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: gold;
              stroke: black;
              stroke-width: 5px;
            }
          }
        }

        .recipesMP {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          button {
            background-color: transparent;
            border: none;

            svg {
              fill: #000000;
              width: 1.5rem;
            }

            &:hover {
              cursor: pointer;
            }

            &:disabled {
              svg {
                fill: rgb(160, 160, 160);
              }

              &:hover {
                cursor: auto;
              }
            }
          }

          .recipesListMP {
            // height: 85%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-top: 0.5rem;

            .recipeMP {
              // height: min-content;
              width: 10rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-top: 0.5rem;

              p {
                text-align: center;
                text-wrap: balance;
                margin: 0;
              }

              .imageMP {
                position: relative;
                width: 8rem;
                height: 8rem;
                overflow: hidden;
                border: 0.25rem dashed #29a64d;
                border-radius: 50%;

                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 110%;
                  height: 110%;
                }

                button {
                  svg {
                    display: none;
                    position: absolute;
                    top: 35%;
                    left: 35%;
                    width: 30%;
                    height: 30%;

                    path {
                      fill: rgba(255, 255, 255, 0.8);
                    }
                  }

                  &:hover {
                    cursor: pointer;

                    svg {
                      top: 30%;
                      left: 30%;
                      width: 40%;
                      height: 40%;

                      path {
                        fill: #29a64d;
                      }
                    }
                  }
                }

                &:hover {
                  border: 0.25rem solid #29a64d;

                  svg {
                    display: block;
                  }
                }
              }
            }
          }
        }

        .exitbtn {
          position: absolute;
          top: 1rem;
          right: 2rem;
          width: 2rem;
          height: 2rem;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;

          &:hover {
            cursor: pointer;
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
