.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;

  .searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
      margin-bottom: 1rem;
      padding: 0.5rem 0;
      width: 50%;
      text-align: center;
    }
  
    label {
      // align-self: start;
      text-align: left;
    }
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }

  .getRecipes {
    margin: 1rem 0;
    padding: 0.5rem 0;
    width: 30%;
    border: none;
    border-radius: 0.5rem;
    background-color: brown;
    text-transform: uppercase;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgb(137, 33, 33);
    }
  }
}

.favorites {
  align-self: flex-end;
  margin-bottom: 1rem ;
  padding: 0.5rem 0;
  width: 10%;
  border: none;
  border-radius: 0.5rem;
  background-color: gold;
  text-transform: uppercase;
  color: black;

  &:hover {
    cursor: pointer;
    background-color: goldenrod;
  }
}