* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0f4da;
  width: 100%;
  min-height: 100vh;
}

.Show {
  display: flex;
  flex-direction: row;
  align-self: flex-end;

  label {
    margin-right: 0.5rem;
  }
}
